.custom-navbar {
  background-color: steelblue;
  font-size: 18px;
  margin-bottom: 5%;

  .navbar-brand {
    color: SteelBlue;
  }

  .nav-link {
    color: SteelBlue;

    &:hover {
      color: Seashell;
    }
  }

  .btn-outline-secondary {
    color: SteelBlue;
    border-color: Seashell;

    &:hover {
      background-color: SteelBlue;
      color: DimGray;
    }
  }
}