*
form {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 1.5%;
    border-radius: 10px;
    
  }
  
  h5 {
    margin-top: 5%;
  }

  .card-img {
    height: 500px;
  }